@model IEnumerable<TedsMontanaRestaurantModel.Menu>

<h2>Menu List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Menu ID</th>
            <th>Name</th>
            <th>Menu Görseli</th>
            <th>Restaurant</th>
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.MenuId</td>
                <td>@menu.Name</td>
                <td><img src="@Url.Content(menu.Images)" width="80px" /></td>
                <td>@menu.RestaurantId</td>
                <td>
                 
                    <a asp-controller="Menu" asp-action="Crup" asp-route-id="@menu.MenuId" class="btn btn-primary">
                        Güncelle
                    </a>
                    <a asp-controller="Menu" asp-action="Delete" asp-route-id="@menu.MenuId" class="btn btn-danger">
                        Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
